//////reset///////////////////////////
input, button, select {
  outline: 0;
  border: none;
}

a {
  text-decoration: none;
  color: white;
}

/////////////////////////////////////////
.App {

  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: grid;

  grid-template-areas:
  "header header header"
  "nav conten conten"
  "footer footer footer";

  grid-template-rows: 10vh 1fr 10vh;
  grid-template-columns: 2fr 10fr;
  grid-gap: .5vh;
}