.App {

  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: grid;

  grid-template-areas:
  "header header header"
  "nav conten conten"
  "footer footer footer";

  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.header {
  grid-area: header;
  background: green;
  display: flex;
  justify-content: space-between;
}

.header h3 {
  width: 80%;
}

.sidebar {
  grid-area: nav;
  background: red;
  height: calc(100vh - 130px);
}

.content {
  grid-area: conten;
  background: blue;
}

.content img {
  height: 150px;
  width: 100%;
}

.footer {
  grid-area: footer;
  background: yellow;
}